@{
    ViewBag.Title = "Home Page";
}

<a href="/Home/ChangeUnit?Unit=C">C</a> @*used to determine celsius or farenheidt*@ 
<a href="/Home/ChangeUnit?Unit=F">F</a>


   <h3>@ViewBag.Temp</h3>
